.icono {
  position: fixed;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  bottom: 2rem;
  right: 2rem;
  background: #25d366;
  color: #FFF;
  border-radius: 2rem;
  text-align: center;
  font-size: 2.5rem;
  box-shadow: 0px 1px 10px black;
  z-index: 100;
  transition: all 500ms ease; }

  body{
    background-color: black;
  }

  .offcanvas{
    background-color: black;
  }

  .eliminarItem{
    background-color: red;
    border: none;
    margin-top: 1rem;
  }

  .imagen-carrito{
    width: 400px;
  }

  .header{
    display: flex;
    align-items: center;
    background-color: black;
    z-index: 100;
  } 

  .alert{
    background-color: black;
    z-index: 100;
  }
  .logo{
    width: 200px;
    margin-right: auto;
  }
  
  .carrusel{
    height: 77vh;
  }

  .cardColor{
    background-color: black;
  }

  .description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
  }

  .description:hover{
    height: 100px;
  }

  .carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }

  .table__productos{
    display: flex;
  }

  .table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
  }

  .table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .hide, .remove{
    display: none;
  }